.popup {
  max-width: 430px;
  background-color: #fff;
  color: #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1;
  display: none;
}

@media screen and (max-width: 880px) {
  .popup {
    max-width: 282px;
  }
}