.page {
    max-width: 880px;
    background-color: #000;
    position: relative;
    font-family: "Inter", sans-serif;
    color: #fff;
    margin: 0 auto;
}

@media screen and (max-width: 880px) {
  .page {
    max-width: 282px;
  }  
}