.popup__input {
  width: 358px;
  height: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 13.26px;
}

@media screen and (max-width: 880px) {
  .popup__input {
    width: 238px;
    height: 17px;
  }
}