.popup__input {
  max-width: 354px;
  width: 100%;
  height: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 36px;
  padding-bottom: 13.26px;
}

.popup__input:first-of-type{
  margin-bottom: 29.74px;
}

@media screen and (max-width: 880px) {
  .popup__input {
    max-width: 234px;
    height: 17px;
    margin-left: 22px;
    margin-right: 22px;
    padding-bottom: 9px;
  }
}