.popup__container {
  
  position: relative;
  margin-left: 36px;
  margin-right: 36px;
}

@media screen and (max-width: 880px) {
  .popup__container {
    margin-left: 22px;
    margin-right: 22px;
  }
}

