.elements__button {
  max-width: 21px;
  min-height: 19px;
  width: 100%;
  background-image: url(../../../images/heart.svg);
  background-color: #FFFFFF;
  border: none;
}

.elements__button:hover {
  opacity: 0.5;
}

.elements__button:active {
  background-image: url(../../../images/heart-filled.svg);
  opacity: 1;
}