.profile__description {
  max-width: 415px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.87px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  }

  @media screen and (max-width: 880px) {
    .profile__description {
      max-width: 282px;
      width: 100%;
      font-size: 14px;
      line-height: 16.94px;
      text-align: center;
      grid-column: 1/3;
    }
  }