.popup__close-button {
  width: 40px;
  height: 40px;
  background-image: url(../../../images/close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: relative;
  float: right;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 880px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -50px;
    right: 0px;
  }
}