.popup__save-button {
  width: 358px;
  height: 50.15px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21.78px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 36.51px;
}

.popup__save-button:hover {
  opacity: 80;
}

@media screen and (max-width: 880px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 46px;
    margin-bottom: 25px;
  }
}