.profile__grid {
  max-width: 415px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
      "name button"
      "description description";
  row-gap: 16px;
  column-gap: 18px;
  justify-items: start;
  align-content: center;
}

@media screen and (max-width: 880px) {
  .profile__grid {
    max-width: 282px;
    justify-content: center;
    row-gap: 14px;
    column-gap: 10px;
  }
}